@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Big;
  font-weight: 800;
  src: url('../assets/fonts/The\ Bigger\ The\ Better.ttf');
}
:root{
  --primary-color:#Fff;
  --secondary-color:#fff;
  --body-bg:linear-gradient(180deg,rgb(3, 4, 52) 0%,rgb(55, 38, 70));
  --text-color:#fff;
  --gray:#828282;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Big';
}
/* APPLY */
.card{
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
  transition: 300ms ease-in-out;
  
}
.card:hover{
  transform: scale(1.05);
  
  
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: aliceblue;
  }
}
