@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: made;
  src: url('../assets/fonts/MADEMellowPERSONALUSE-Medium.otf');
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'made'
}

:root {
  --primary-color: #fff;
  --secondary-color: #fff;
  --text-color: #5032d6;
  --body-bg: linear-gradient(180deg, rgb(3, 4, 52) 0%, rgb(55, 38, 70));
  --text-color: #fff;
  --gray: #828282;
}

/* ScrollBar */
::-webkit-scrollbar-thumb {
  background: #5032d6;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.menu {
  @apply text-xl text-black justify-between;
}

a {
  @apply text-blue-600;
}

a:hover {
  @apply text-blue-800;
}

.dropdown-link {
  @apply flex p-2 relative z-20 bg-slate-50 rounded shadow-lg;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
  transition: 300ms ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: var(dark);
  }

  body {
    color: black;
    background: #F3F3F3;
  }
}

button {
  @apply rounded bg-sky-100 py-1 px-3 shadow outline-none;
  transition: 150ms ease-in-out;
}

.primary-button {
  @apply rounded py-0 bg-sky-50 pt-1 px-5 shadow m-2;
}

button:hover,
.primary-button:hover {
  --tw-bg-opacity: 1;
  @apply bg-slate-700 text-white shadow;

}

.img_ef {
  overflow: hidden;
  transition: 300ms ease-in-out;

}

.img_ef:hover {
  transform: scale(1.05);
}

.login_img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}